{
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 120
}
