html,
body,
#root,
#root > div {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
textarea {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: var(--font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

code {
	font-family: "Source Code Pro", monospace;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
	border: 4px solid transparent;
	border-radius: 8px;
	background-clip: padding-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	min-height: 40px;
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 8px;
}

input[type="range"]::-moz-range-track {
	padding: 0 10px;
	background: repeating-linear-gradient(to right, #ccc, #ccc 10%, #000 10%, #000 11%, #ccc 11%, #ccc 20%);
}
