html,
body,
#root {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* overflow: hidden; */
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

html *:not(code) {
	font-family: var(--font-family);
}

code {
	font-family: "Source Code Pro", monospace;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
	border: 4px solid transparent;
	border-radius: 8px;
	background-clip: padding-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	min-height: 40px;
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 8px;
}
