h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	color: var(--text);
	padding: 0;
	margin: 0;
}

* {
	user-select: none;
}

body {
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Source Code Pro", monospace;
}
