h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	color: var(--text);
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Source Code Pro", monospace;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
	border: 4px solid transparent;
	border-radius: 8px;
	background-clip: padding-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	min-height: 40px;
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 8px;
}
