<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">

	<Identity Name="33c76ff2-5070-413a-aa36-6a1d888fd633" Publisher="CN=samue" Version="1.0.0.0" />
	<mp:PhoneIdentity PhoneProductId="4cf6530c-b77c-46e4-89aa-b603fe51ecc1" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

	<Properties>
		<DisplayName>Fosscord</DisplayName>
		<PublisherDisplayName>Fosscord</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate" />
	</Resources>

	<Applications>
		<Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="fosscord.App">
			<uap:VisualElements DisplayName="Fosscord" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Fosscord is a free open source selfhostable discord compatible communication platform" BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<Capability Name="privateNetworkClientServer" />
	</Capabilities>
</Package>