:root {
  --primary: #ff5f00;
  --background: #ffffff;
  --text: #000000;
  --text-accent: #1c1c1c; }

.view {
  background-color: var(--background); }

.text, .heading {
  color: var(--text);
  font-family: Arial;
  font-weight: 400;
  font-size: 18px; }

.heading {
  margin: 0px;
  padding: 0px;
  font-size: 35px;
  color: var(--text); }
  .heading.md {
    font-size: 35px; }
  .heading.sm {
    font-size: 25px; }

.title {
  color: var(--text);
  font-weight: 100;
  padding: 40px 0;
  text-align: center;
  font-size: 45px; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.flex, .introduction.welcome, .introduction.welcome .header, .introduction.features .list .feature, .button, .link {
  display: flex;
  flex-direction: column; }

.center, .introduction.features, .button, .link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.stretch {
  justify-content: flex-start;
  align-items: stretch;
  text-align: left; }

.bg, .introduction.welcome {
  background-color: var(--background); }

.bg-primary, .button, .link {
  background-color: var(--primary); }

.text-accent {
  color: var(--text-accent); }

.introduction {
  height: 100%; }

.introduction.welcome {
  align-items: center;
  justify-content: space-between;
  height: 100%; }
  .introduction.welcome .header {
    background-color: var(--primary);
    width: 100%;
    flex-grow: 1; }
    .introduction.welcome .header .text, .introduction.welcome .header .heading {
      color: white; }
  @media (orientation: landscape) {
    .introduction.welcome .waves {
      display: none; } }

.introduction.features {
  justify-content: space-between; }
  .introduction.features .list .feature {
    align-items: center; }
    .introduction.features .list .feature * {
      text-align: center; }
    .introduction.features .list .feature .name {
      font-weight: 900; }

.elevated, .button.big, .big.link {
  box-shadow: 0px 0px 5px #00000050; }

.button, .link {
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  padding: 10px; }
  .button .text, .link .text, .button .heading, .link .heading {
    color: white; }
  .button.big, .big.link {
    margin: 15px;
    padding: 15px; }
    .button.big .text, .big.link .text, .button.big .heading, .big.link .heading {
      font-size: 20px; }
  .button.invert, .invert.link {
    background-color: var(--background); }
    .button.invert .text, .invert.link .text, .button.invert .heading, .invert.link .heading {
      color: var(--primary); }

.checkbox {
  display: flex;
  flex-direction: row;
  padding: 20px; }

.checkbox-state {
  border: 1px solid var(--primary);
  width: 15px;
  height: 15px;
  padding: 5px;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center; }

.screen {
  padding: 20px; }

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --text: #ffffff;
    --text-accent: #b3b3b3; } }

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px; } }

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px; } }

.input {
  height: 30px;
  width: 100%;
  background: var(--background);
  color: var(--text);
  outline: none;
  border: none; }

.register-view {
  margin: 10px; }
