:root {
	--primary: #ff5f00;
	--background: #ffffff;
	--text: #000000;
	--text-accent: #1c1c1c;
}

.view {
	background-color: transparent;
}

.text {
	color: var(--text);
	font-family: Arial;
	font-weight: 400;
	font-size: 18px;
}

.heading {
	@extend .text;

	margin: 0px;
	padding: 0px;
	font-size: 35px;
	color: var(--text);

	&.md {
		font-size: 35px;
	}

	&.sm {
		font-size: 25px;
	}
}

.title {
	color: var(--text);
	font-weight: 100;
	padding: 40px 0;
	text-align: center;
	font-size: 45px;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.flex {
	display: flex;
	flex-direction: column;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.stretch {
	justify-content: flex-start;
	align-items: stretch;
	text-align: left;
}

.bg {
	background-color: var(--background);
}

.bg-primary {
	background-color: var(--primary);
}

.text-accent {
	color: var(--text-accent);
}

.introduction {
	height: 100%;
}

.introduction.welcome {
	@extend .flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	@extend .bg;

	.header {
		background-color: var(--primary);
		width: 100%;

		.text {
			color: white;
		}
	}
}

@media (orientation: landscape) {
	.introduction.welcome {
		.waves {
			display: none;
		}
	}
}

.introduction.features {
	@extend .center;
	justify-content: space-between;
}

.elevated {
	box-shadow: 0px 0px 5px #00000050;
}

.button {
	@extend .flex;
	@extend .center;
	@extend .bg-primary;

	user-select: none;
	cursor: pointer;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;

	.text {
		color: white;
	}

	&.big {
		@extend .elevated;
		margin: 15px;
		padding: 15px;

		.text {
			font-size: 20px;
		}
	}

	&.invert {
		background-color: var(--background);

		.text {
			color: var(--primary);
		}
	}
}

.link {
	@extend .button;
}

.checkbox {
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.checkbox-state {
	border: 1px solid var(--primary);
	width: 15px;
	height: 15px;
	padding: 5px;
	color: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.screen {
	padding: 20px;
}

.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1c1c1c;
		--text: #ffffff;
		--text-accent: #b3b3b3;
	}
}

@media (min-width: 576px) {
	.container-sm,
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container-md,
	.container-sm,
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container-lg,
	.container-md,
	.container-sm,
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container-xl,
	.container-lg,
	.container-md,
	.container-sm,
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container-xxl,
	.container-xl,
	.container-lg,
	.container-md,
	.container-sm,
	.container {
		max-width: 1320px;
	}
}

.input {
	height: 30px;
	width: 100%;
	background: var(--background);
	color: var(--text);
	outline: none;
	border: none;
}

.register-view {
	margin: 10px;
}
