name: Android
on:
  push:
    branches:
      - dev/bare
  workflow_dispatch:
    inputs:
      comments:
        description: 'Comments'
        required: true
        default: 'Manual build Actions'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 16

      - name: Setup JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: 18
          distribution: 'temurin'
          cache: 'gradle'

      - name: Cache /node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}

      - name: Install npm dependencies
        run: yarn --frozen-lockfile
        shell: bash

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Building bundle
        run: |
          yarn react-native bundle --platform android --dev true --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res/

      - name: Build APK
        run: cd android && chmod +x ./gradlew && ./gradlew app:assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: |
            android/app/build/outputs/apk/debug/app-debug.apk